 <h2>Create Entity</h2>

 <form [formGroup]='userFormGroup' (ngSubmit)='addUser()'  novalidate >
  <input class= "form-control" type="text" formControlName='name' placeholder="Enter Name"   />

  <button class= 'btn btn-info'>Add User</button></form>

  <br><br>
  <table class ="table table-striped table-responsive">
    <tr *ngFor="let u of users">
      <td>
        {{u.id}}
      </td>
      <td>
        {{u.name}}
      </td>
    </tr>
  </table>
