<br><br>

<table class ="table table-striped table-responsive">
  <tr *ngFor="let u of users">
    <td>
      {{u.id}}
    </td>
    <td>
      {{u.name}}
    </td>
    <td>
      {{u.model}}
    </td>

  </tr>
</table>

<input class= "form-control" type="number" [(ngModel)]='idtodelete' placeholder="Enter Id to delete User" />

<button class= 'btn btn-info' (click)='deleteUser()'>Delete User </button>
